.navBarContent {  
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.footerContainer{
  background-color:#13183F ;
}
:is(.navBarContent,.footerContainer){
  max-width: 1100px;
  margin: 0 auto;
}