.cardContainers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3rem;
  column-gap: 1rem;
  padding-bottom: 4rem;
}
.popularCourseCard {
  composes: card from "./servicecard.module.css";
  background: linear-gradient(#ff6f48, #f02aa6);
  color: white;
  border-radius: 1rem;
  font-size: 32px;
}

:is(.cardContainers) {
  max-width: 1100px;
  margin: 0 auto;
}
@media only screen and (min-width: 600px) {
  .cardContainers {
    grid-template-columns: repeat(2, 1fr);
    padding: 0rem 2.5rem;
  }
}
