.heroSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.cardSections {
  background: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
}

.navBar {
  background-color: #ffffff;
}

.footerBar {
  background-color: #13183f;
}
:is(.heroSection) {
  max-width: 1100px;
  margin: 0 auto;
}
/* .mainSection {
    max-width: 1100px;
    margin: 0 auto;
} */
