.heroSection{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.cardSections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 3rem;
    column-gap: 1rem;
}
.navBar{
    background-color: #FFFFFF;
}

.footerBar{
    background-color:#13183F;
}
.mainSection{
    max-width: 1100px;
    margin: 0 auto;
}
@media only screen and (min-width:1025px){
    .heroSection{
    }
}