.heroSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.cardSections {
    background: linear-gradient(180deg, #FFF 0%, #F0F1FF 100%);
}

.navBar {
    background-color: #FFFFFF;
}

.footerBar {
    background-color: #13183F;
}
:is(.heroSection){
    max-width: 1100px;
    margin: 0 auto;
}
/* .mainSection {
    max-width: 1100px;
    margin: 0 auto;
} */

@media only screen and (min-width:1025px) {
    .heroSection {}
}